# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc

# VSCode
.vscode/

# PyCharm
.idea/

# Environment
.env
auth-service/.env

# Docker
*.log

# Alembic cache
alembic/versions/__pycache__/
.qodo